@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	background: #EAEAEA;
}
.advert {
	width: 40%;
	height: 300px;
	margin: 50px 30% 50px 30%;
	border: black solid 1px;
}
.menucollection {
	width: 50%;
	height: 450px;
	margin: 20px 25% 50px 25%;
	border: black solid 1px;
	background: #D9E5FF;
}
.menumanege {
	float: left;
	margin: 25px 70px 25px 110px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.menumanegeimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}
.menumaneges {
	text-align: center;
}
.transaction {
	float: left;
	margin: 25px 70px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.transactionimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}
.transactions {
	text-align: center;
}
.review {
	float: left;
	margin: 25px 70px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.reviewimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}
.reviews {
	text-align: center;
}
.questionList {
	float: left;
	margin: 25px 70px 25px 110px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.questionListimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}
.questionLists {
	text-align: center;
}
.customer {
	float: left;
	margin: 25px 70px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.customerimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}
.customers {
	text-align: center;
}
.logo {
	float: left;
	margin: 25px 70px;
	background: white;
	width: 150px;
	height: 180px;
	background: #D9E5FF;
}
.logoimg {
	border: black solid 1px;
	border-radius: 100px;
	background: white;
	width: 150px;
	height: 150px;
}