@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	background: #EAEAEA;
}
.advert {
	width: 40%;
	height: 300px;
	margin: 50px 30% 100px 30%;
	border: black solid 1px;
}
.apply {
	width: 40%;
	height: 300px;
	margin: 50px 30% 100px 30%;
	border: black solid 1px;
	background: white;
}
.applyImg {
	float: left;
	width: 40%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: black solid 1px;
}
.applyText {
	float: left;
	width: 55%;
	height: 90%;
	
}
.applyText > b {
	font-size: 30px;
	margin: 0 100px;
	line-height:300px;
}